/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/metronic/src/*
!resources/metronic/src/assets/
public/assets/media/*
public/js/*
public/css/*
